<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sua danh muc</title>
<th:block th:replace="~{layout::app-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="page">
<div class="panel">
<h1>Sua danh muc</h1>
<p class="subtitle">Cap nhat ten danh muc.</p>

<p class="error" th:if="${error}" th:text="${error}"></p>
<form th:action="@{/categories/edit}" th:object="${category}" method="post">
<input type="hidden" th:field="*{id}">
<div class="form-grid">
<div>
<label for="name">Ten danh muc</label>
<input id="name" type="text" th:field="*{name}">
<p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
</div>
</div>
<button type="submit">Luu thay doi</button>
</form>
<br>
<a class="btn btn-outline btn-small" th:href="@{/categories}">Quay lai</a>
</div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
